/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require smoothness
 *= require_tree . 
*/

body {
  background-color: #eee;
  font-size: 16px;
}

header div {
  overflow: hidden;
}

#session_info {
  position: absolute;
  top: 2px;
  right: 2px;
  font-family: 'Courier New';
  font-size: 12px;
}

#notice {
  font-weight: bold;
  color: #040;
}

#error_explanation {
  font-weight: bold;
  color: #c00;
}

div {
  overflow: auto;
}

.left {
  display: inline;
  position: relative;
  float: left;
}

.right {
  display: inline;
  position: relative;
  float: right;
}

.centered {
  text-align: center;
}

.none {
  display: none;
}

.mandatory-field:after {
  content: "*";
}

header > div {
  text-align: center;
}

div#content {
  width: 82%;
  padding-left: 4%;
  padding-right: 4%;
}

nav.main-menu {
  width: 10%;
  padding-top: 18px;
}

nav.main-menu a {
  display: block;
  margin-bottom: 2px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
  background-color: #ddd;
  width: 100%;
}

nav.main-menu a:hover {
    background-color: #ddd;
    color: #fff;
}

.simple-form .field {
  width: 80%;
}

div.text-container {
  height: 40px;
  text-align: right;
}

form {
  background-color: #ddd;
  padding: 30px;
}

.field input, .field textarea {
  width: 70%;
  float: right;
}

form label {
  text-align: right;
  width: 29%;
  padding-right: 5px;
  vertical-align: middle;
}

form .submit-button, form .back-button {
  margin: 0px 5px 0px 5px;
}

.list-table {
  width: 90%;
  margin: auto;
  border-spacing: 0px;
}

.list-table td:last-child, .list-table th:last-child {
  border-right: 1px solid;
}

.list-table td {
  border-left: 1px solid;
  border-bottom: 1px solid;
}

.list-table th {
  background-color: #ddd;
  border-left: 1px solid;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

button.ui-button .ui-button-text-only {
  background: none;
  text-decoration: none;
  color: #000;
}
