// Place all the styles related to the Lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.success_feedback {
  color: #050;
}

.failure_feedback {
  color: #500;
}

.task-container {
  width: 100%;
  overflow: auto;
}

.code-text-area {
  width: 80%;
  display: block;
  height: 10em;
}
